<html>
<head>
<link href="style.css" rel="stylesheet" type="text/css">

</head>	
<body style="background-color: #66CD00">
	<div style="background-color: #ffba00">
	<br>
	<form method="get" action="/login" class="login">
			<input type="submit" name="login" value="LOGIN">
	</form>
	<form method="get" action="/signup" class="signup">
			<input type="submit" name="signup" value="SIGN UP">
	</form>
	<img src = "logo.png" height="100px" width="100px" style="float: left; margin-left: 100px;">
	<h1 style="font-size: 40px; color: brown; font-style: italic; font-family: Comic Sans MS;">VegieGo</h1>

	</div><br><br>
	
	<div style="margin-left: 200px; font-size: 20px">
		<h2>About Us</h2>
		<img src="farm.jpg" style="float: right; margin-right: 100px;">
		<p style="margin-right: 600px; font-size: 20px; font-family: Arial; line-height: 1.6;">VegieGo is an online fruits and vegetables store with over 100 products in our catalogue. We have fresh fruits and vegetables which is directly imported from the farms. We help you to find best quality products at low price. Select the time slot for delivery and your order will be delivered right to your door step. You can pay by cash on delivery. We guarantee on time on delivery and best quality! </p>
		<br>
		<h2>Why VegieGo?</h2>
		<img src="basket.jpg" style="float: right; margin-right: 100px;">
		<p style="margin-right: 600px; font-size: 20px; font-family: Arial; line-height: 1.6;">VegieGo welcomes an easy relaxed way of browsing and shopping for fruits and vegetables. No more getting stuck in traffic jams, paying for parking, standing in long queues and carrying heavy bags – get everything you need, when you need, right at your doorstep. And VegieGo is safe and secure!</p>
		<br>
		<h2>How to order?</h2>
		<img src="list.png" style="float: right; margin-right: 150px;">
		<div style="margin-right: 600px; font-size: 20px; font-family: Arial; line-height: 1.6;"><ul>
			<li>Login to your account, if you don't have account then sign up.</li>
			<li>Browse for the products.</li>
			<li>Add item to your CART.</li>
			<li>Enter the quantity required and click ORDER NOW</li>
			<li>If you don't want something in cart then, REMOVE</li>
			<li>Check your check list, if you want to remove something from checkilst then, REMOVE</li>
			<li>Then click BUY NOW</li>
			<li>Fill the necessary detais and click on SUBMIT</li>
			<li>If you want to check you bill then, click on BILL</li>
			<li>Your products will be home-delivered as per your order!</li>
		</ul></div>
		<br>
		<center><h2 style="font-family: Comic Sans MS">HAPPY SHOPPING!</h2></center>
	</div>	
</body>
</html>